<h1>FlymyStuff</h1>

<% if user_signed_in? && current_user.profile.present? %>
    Welcome, <%= current_user.profile.first_name %> !
<% elsif user_signed_in? %>
    Please create your Profile.
<% else %>
    Welcome to Flymystuff!
<% end %>