<h1>FlymyStuff</h1>

<% if user_signed_in? && current_user.profile.present? %>
    Welcome, <%= current_user.profile.first_name %> !
<% elsif user_signed_in? %>
    Please create your Profile.
<% else %>
    Welcome to Flymystuff!
<% end %>

<div class="grid">
    <div class="item item--large">
        <span class="item-title">Shopper</span>
        <div class="item__details">
          Make a purchase from abroad.
        </div>
    </div>
    <div class="item item--large">
        <span class="item-title">Flyer</span>
        <div class="item__details">
          Fly someone's item.
        </div>
    </div>
    <div class="item item--full">
        <div class="item__details">
            How does Flymystuff work?
        </div>
    </div>
</div>