/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #f4f4f4;
}

main {
  padding: 5rem 3rem;
}

a {
  color: #000;
  color: rgb(105,105,105);
}

/* header */

.header {
  background-color: #fafafa;
  box-shadow: 0 2px 2px #2e393b;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* Mobile Navigation */
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: white;
}

nav ul li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
}

nav ul li a:hover,
.header .menu-btn:hover {
  color: rgb(61, 197, 223);
}

/* Submenu Dropdown */
/* Hide Dropdown for Mobile Nav */
nav ul ul {
  display: none;
}

/* Display Dropdown on Hover */
nav ul li:hover > ul {
  display: inherit;
}

/* Indents Submenu List Items */
nav ul li ul a {
  padding: 14px 0;
  text-indent: 40px;
}

nav ul li ul a:hover {
  color: white;
  background-color: rgb(61, 197, 223);
}

/* menu */

nav ul {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ nav ul {
  max-height: 480px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* Media Queries */
/* 48em = 768px */

@media (min-width: 48em) {
  nav li {
    float: left;
  }
  nav ul li a {
    padding: 20px 25px;
  }
  nav ul {
    clear: none;
    float: right;
    max-height: none;
  }
  
  /* Dropdown Menu */
  
  /* Hide Dropdowns by Default
   * and giving it a position of absolute */
  .dropdown {
    display: none;
    position: absolute;
  }
  
  /* Display Dropdowns on Hover */
  nav ul li:hover > ul.dropdown {
    display: inherit;
  }
  
  /* Change Padding for Dropdown */
  nav ul ul li a {
    padding: 14px 20px;
    text-indent: 0;
  } 
  
  /* Dropdown "a link" hover style */
  nav ul ul li a:hover {
    color: white;
    background: rgb(61, 197, 223);
  }

  /* Dropdown First Tier */
  nav ul ul li {
    min-width: 250px;
    float: none;
    display: list-item;
  }
  
  /* Highlight Active Navigation Link  */
  nav .active {
    color: rgb(61, 197, 223)
  }
  
  /* Hides Mobile Dropdown Button */
  .header .menu-icon {
    display: none;
  }
}
